//- Error popup
div(class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-sm")
        //- Set error message in this container's
        div(class="modal-content") Oops something broke.