form(class="form-inline my-2 d-flex justify-content-center" id="question_form")
    label(class="sr-only" for="question") Ask a question
    input(id="question" class="form-control mr-sm-2 w-75 " placeholder="Ask a question")
    button(class="btn btn-dark" type="submit") Ask