//-
    layout.pug variables
    ********************
    @title {String} title of current page

doctype html
html
    head
        title Questions - #{title}
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
